.about .container-fluid {
  --bs-gutter-x: 3.5rem;
  --bs-gutter-y: 0;
  width: 97%;
  margin-top: 120px;
  margin-bottom: 90px;
}
.about .content h2 {
  font-weight: 630;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #0d0a3e;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #0d0a3e;
  color: white;
}

.featured-block {
  text-align: center;
  transition: all 0.5s ease;
  height: 170px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.about .badge-text {
  color: rgb(13, 15, 80);
  text-decoration: underline;
}

.about .badge-img .img {
  margin: 1rem auto 10px;
  width: 100px;
  color: rgb(31, 9, 55);
}
